[Desktop Entry]
Encoding=UTF-8
Name=Heraia Hexadecimal Editor
Name[fr]=Éditeur Hexadécimal Héraia
GenericName=Hexadecimal Editor
GenericName[fr]=Éditeur Hexadécimal
Comment=Edit all sorts of files
Comment[fr]=Édite toutes sortes de fichiers
Exec=heraia %F
Terminal=false
StartupNotify=true
Type=Application
Icon=heraia
Categories=GNOME;GTK;Development
